@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary:#152e6e;
    --primary-hover:#0f1034;
  
    --border-head-divider:#e4eaf9;
}

.error-field{
    box-shadow: 0 0 1px 1px red !important;
    border-radius: 3px;
}

/** sobreescribe */
.rs-sidenav-nav>.rs-dropdown .rs-dropdown-toggle,
.rs-dropdown.rs-dropdown-placement-right-start.rs-dropdown-expand .rs-dropdown-menu,
.rs-sidenav-nav.rs-nav.rs-nav-default.rs-nav-vertical .rs-sidenav-item
{
    font-size: 13px;
}